img {
    width: 8cm;
    height: 8cm; 
    float: center
}
h1{
    font-style: bold;
    text-align: center;
}
main{
    width: 800px;
    float: right;
    background-image: url(https://thumbs.dreamstime.com/b/cat-touching-screen-tablet-cute-playing-piano-app-56566516.jpg) 
    
}
footer{display: flex; 
    justify-content: space-between;
    background-color: black;
    color: beige;
}